@font-face {
  font-family: "Signature";
  src: url("/Fonts/Colatin.otf");
}

.nav-bar {
  background-color: rgb(64 64 64 / var(--nav-bg-opacity));
  backdrop-filter: saturate(var(--nav-saturation)) blur(var(--nav-bg-blur));
  position: relative;
  overflow: hidden;
  color: hsl(0, 0%, var(--nav-text-color));
}

.nav-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background-color: var(--accent);
  backdrop-filter: blur(var(--nav-bg-blur));
  width: var(--progress-value);
  z-index: -1;
}

.nav-name {
  font-family: "Signature", sans-serif;
}

.link-underline {
  display: inline-block;
  cursor: pointer;
}

.link-underline::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: var(--link-underline-color);
  transition: 300ms ease-out;
}

.link-underline:hover::after {
  width: 100%;
}
