@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-bg: rgb(250 250 250);
  --nav-bg-opacity: 0;
  --nav-bg-blur: 0;
  --nav-saturation: 100%;
  --link-underline-color: rgb(10 10 10);
  --accent: rgb(255 135 62);
  --progress-value: 0%;
  --nav-text-color: 0%;
}

body {
  background-color: var(--neutral-bg);
  scrollbar-gutter: unset;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.fade {
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 25%;
}

.fade.fade-translate {
  animation: fade-translate, fade ease-out both;
  animation-timeline: view();
  animation-range: entry 50% cover 35%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-translate {
  from {
    transform: translate(-12%);
  }
  to {
    transform: translate(0%);
  }
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
  font-size: xx-large !important;
  cursor: pointer;
}

.kaustubh-img {
  animation: kaustubh_border_radius infinite 3500ms;
  pointer-events: none;
  box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 0.2);
}

@keyframes kaustubh_border_radius {
  0% {
    border-radius: 62% 38% 68% 32% / 59% 67% 33% 41%;
  }

  50% {
    border-radius: 38% 62% 52% 48% / 35% 44% 56% 65%;
  }

  100% {
    border-radius: 62% 38% 68% 32% / 59% 67% 33% 41%;
  }
}

.about-me-text {
  line-height: 1.6em;
}

.review-card {
  position: relative;
  border: 2px solid rgb(0 0 0 / 0.1);
  border-radius: 2em 4.5em 2em 2em;
  padding: 3.5em 3em 2em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  width: 60ch;
}

.review-card::after {
  content: open-quote;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--accent);
  font-size: 16em;
  transform: translate(30%, -32%);
  @apply fade;
}

.review-text {
  color: rgb(64 64 64);
  font-size: 1.5em;
  font-weight: 500;
}

.review-card-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.review-card > .more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: start;
}

.review-card > .more-info > .rating {
  color: rgb(64 64 64);
  font-size: 1.2em;
  font-weight: 400;
}

.reviewer {
  text-align: right;
}

.reviewer > .name {
  color: rgb(124 58 237);
  font-size: 1.2em;
}

.reviewer > .designation {
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
  color: rgb(70 70 70);
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(3, minmax(165px, 1fr));
  gap: 4rem;
  row-gap: 2.5rem;
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tech-name {
  font-weight: 500;
  transform: translate(0%, -150%);
  opacity: 0;
  transition: 300ms;
  visibility: hidden;
}

.technology svg:hover + .tech-name {
  opacity: 1;
  transform: translate(0%, 0%);
  visibility: visible;
}

.project-img {
  position: relative;
  overflow: hidden;
}

.project-actions {
  opacity: 0;
  transition: 300ms;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.3);
  color: white;
  backdrop-filter: blur(3px);
  gap: 1em;
}

.project-img:hover .project-actions {
  opacity: 1;
}

.form-input {
  border: 2px solid rgb(0 0 0 / 0.2);
  border-radius: 0.375rem;
  padding: 0.75rem;
  outline: none;
  transition: 300ms;
}

.form-input:hover {
  border-color: rgb(0 0 0 / 0.5);
}

.form-input:is(:active, :focus) {
  border-color: rgb(0 0 0 / 0.8);
}
